<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista Umiejętności</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Minimalny Poziom Postaci</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let skillunit of skill) { %>
            <td><%=skillunit.Nazwa%></td>
            <td><%=skillunit.MinimalnyPoziomPostaci%></td>
            <td><%=skillunit.Opis%></td>
                <td>
                    <ul>
                        <li>
                            <a href="/skills/details/<%=skillunit.ID_Umiejetnosci%>" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="/skills/edit/<%=skillunit.ID_Umiejetnosci%>" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="/skills/delete/<%=skillunit.ID_Umiejetnosci%>" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <p><a href="/skills/add"  class="button-add">Dodaj nową Umiejętność</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>