<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista Umiejętności Klas</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwa Klasy</th>
                    <th>Nazwa Umiejętności</th>
                    <th>Maksymalna Wartość</th>
                    <th>Bazowa Wartość</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let classSkill of classSkills) { %>
                <tr>
                    <td><%=classSkill.clas.Nazwa_Klasy%></td>
                    <td><%=classSkill.skill.Nazwa%></td>
                    <td><%=classSkill.Maksymaln_Wartosc%></td>
                    <td><%=classSkill.Bazowa_Wartosc%></td>
                <td>
                    <ul >
                        <li>
                            <a href="/classSkills/details/<%=classSkill.ID_Klasy_Umiejetnosci%>" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="/classSkills/edit/<%=classSkill.ID_Klasy_Umiejetnosci%>" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="/classSkills/delete/<%=classSkill.ID_Klasy_Umiejetnosci%>" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <%}%>
            </tbody>

        </table>
        <p><a href="/classSkills/add" class="button-add">Dodaj nową Umiejętność Klasy</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>