<div style="display: none">
    <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
    <span id="errorMessage-isNumber"><%= __('validationMessage.isNumber') %></span>
    <span id="errorMessage-isInt"><%= __('validationMessage.isInt') %></span>
    <span id="errorMessage-isDate"><%= __('validationMessage.isDate') %></span>
    <span id="errorMessage-isFuture"><%= __('validationMessage.isFuture') %></span>
    <span id="errorMessage-isInRange5to100"><%= __('validationMessage.isInRange5to100') %></span>
    <span id="errorMessage-isInRange0to100"><%= __('validationMessage.isInRange0to100') %></span>
    <span id="errorMessage-isInRange1to500"><%= __('validationMessage.isInRange1to500') %></span>
    <span id="errorMessage-isInCharRange2to30"><%= __('validationMessage.isInCharRange2to30') %></span>
    <span id="errorMessage-isInCharRange10to150"><%= __('validationMessage.isInCharRange10to150') %></span>
    <span id="errorMessage-isHigherThanMax"><%= __('validationMessage.isHigherThanMax') %></span>
    <span id="errorMessage-General"><%= __('validationMessage.General') %></span>
</div>



<footer><%= __('footer') %> s22222</footer>
</body>

</html>